{% extends 'AppURC/base.html' %}



{% load static %}


{% block contenido2 %}

<h1 class="mb-1">Datos del Asegurado</h1>

<h2>Accede a toda tu información y más</h2>

{% endblock %}




{% block contenido %}

<div class="container mt-3">
    <h2>Datos de {{ user.get_username}}</h2>
    <p>Resumen de polizas y coberturas</p>
    <table class="table">
        <thead>
            <tr>
                <th>Compania Asegurada</th>
                <th>Monto Asegurado</th>
                <th>Cobertura</th>
            </tr>
        </thead>
        <tbody>
            {% for ficha in fichas %}
            <tr>
                <td>{{ ficha.companiaAseg }}</td>
                <td>{{ ficha.montoAsegurado }}</td>
                <td>Vencida</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="formularioExportaciones"> Agregar nuevo destino (+) </a>
</div>

{%endblock%}