{% extends 'AppURC/base.html' %}



{% load static %}


    {% block contenido2 %}
        
        <h1 class="mb-1">Datos del Asegurado</h1>

        <h2>Accede a toda tu información y más</h2>

    {% endblock %}




    {% block contenido %}

        <br><p>Sarasa</p> <br>

        {% for x in fichas %}  <!-- BOLUDOOOOO -- uso la CLAVE, no el valor, del diccionario que armé en la vista buscarAseg -->
        <br>
        
        <li>  {{ x }} <br></li> <!-- li muestra los elementos como una lista-->
        <p>x</p>
        {% endfor %}
        <br>
        <br>
        <a href="formularioExportaciones"> Agregar nuevo destino (+) </a>

    {%endblock%}