{% extends 'AppURC/base.html' %}



{% load static %}


{% block contenido2 %}

<h1 class="mb-1">Datos del Asegurado</h1>

<h2>Accede a toda tu información y más</h2>

{% endblock %}




{% block contenido %}

<div class="container mt-3">
    <h2>Datos de {{ user.get_username}}</h2>
    <p>Datos del asegurado</p>
    <table class="table">
        <thead>
            <tr>
                <th>Razón social</th>
                <th>CUIT</th>
            </tr>
        </thead>
        <tbody>
            {% for asegurado in asegurados %}
            <tr>
                <td>{{ asegurado.razonSocial }}</td>
                <td>{{ asegurado.cuit }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'FormularioAsegurado' %}"> Agregar nuevo asegurado (+) </a>
</div>

{%endblock%}