{% extends 'AppURC/base.html' %}

{% block titlePage %} 

Nueva cobertura 


{% endblock titlePage %}


{% load static %}



    {% block contenido2 %}
        
        <h1 class="mb-1">Solicitud de nueva cobertura</h1>

        

    {% endblock %}




    {% block contenido %}

         {% if formulario.errors %}

                <p style='color: red;'>Error al cargar los datos, por favor volve a intentarlo</p>

        {% endif %}

        <form action='/AppURC/formularioCoberturas' method="POST"> {% csrf_token %}

            
            <h2><br>Para dar de alta una nueva cobertura, te pedimos completes los siguientes campos <br></h2>


            <table>
            
                {{ formulario.as_table }}

                

            </table>

            
            <input type="submit" value="Guardar">
            
            
        </form>



        <br>
        <br>
        <br>



        <button>
            <a href="home"> Cancelar - Volver al inicio</a>
        </button>

    {% endblock %}