{% extends 'AppURC/base.html' %}


{% block titlePage %} 

Home


{% endblock titlePage %}



{% load static %}



    {% block contenido2 %}
        
        <h1 class="mb-1">Bienvenidos a URC {{ user.get_username }}</h1>

        <h2>Asesores expertos en coberturas de exportacion</h2>

    {% endblock %}




    {% block contenido %}


        <h1>Enfocate en seguir creciendo</h1>

        <h2>Contas con coberturas monitoreadas por expertos asesores</h2>

        <p>Ahora podes dedicar tu tiempo al crecimiento de tu compañía, expandiendo negocios o abriendo nuevos mercados</p>


    {% endblock %}