{% extends 'AppURC/base.html' %}


{% block titlePage %} 

Registro Siniestros


{% endblock titlePage %}



{% load static %}



    {% block contenido2 %}
        
        <h1 class="mb-1">Registro de Siniestros</h1>

        

    {% endblock %}




    {% block contenido %}

        <!--
        <h1>Enfocate en seguir creciendo</h1>

        {% for s in Siniestros %}

            <li>
                {{ s }}
            </li>
        {% endfor %}
        -->
        <div class="container mt-3">
            <h2>Datos de {{ user.get_username}}</h2>
            <p>Resumen de siniestros</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Fecha del siniestro</th>
                        <th>Reclamado</th>
                        <th>Monto Implicado</th>
                        <th>Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stro in Siniestros %}
                    <tr>
                        <td>{{ stro.fechaSiniestro }}</td>
                        <td>{{ stro.reclamado }}</td>
                        <td>{{ stro.montoImplicado}}</td>
                        <td>{{ stro.detalle}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'FormularioSiniestros' %}"> Declara un nuevo Siniestro </a>
        </div>
    {% endblock %}