{% extends 'AppURC/base.html' %}
{% load static %}
{% block titlePage %} {{ title }} {% endblock titlePage %}
{% block stylesBlock %} 
<link href="{% static  'AppURC/css/bootstrap.min.css' %}" rel="stylesheet" />
{% endblock stylesBlock %}
{% block bodyBlock %}
<div id="login">
    <h3 class="text-center text-white pt-5">Login form</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form action="/execute_login/" method="post">{% csrf_token %}
                        <div class="mb-3 form-label">
                          <label for="inputemail" class="form-label">{{ inputTitleEmail }}</label>
                          <input type="email" class="form-control" id="inputEmail" name="inputEmail" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3 form-label">
                          <label for="inputPassword" class="form-label">{{ inputTitlePassword }}</label>
                          <input type="password" class="form-control" name="inputPassword" id="inputPassword">
                        </div>
                        <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary">{{ buttonTitleMainAction }}</button>
                        <button type="submit" class="btn btn-secondary">No tengo cuenta</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock bodyBlock %}