{% extends 'AppURC/base.html' %}

{% block titlePage %} 

Exportaciones


{% endblock titlePage %}

{% load static %}



    {% block contenido2 %}
        
        <h1 class="mb-1">Exportaciones Registradas </h1>

        
    {% endblock %}




    {% block contenido %}

        <br><p>A continuación podras ver el listado de destinos y cantidad de clientes en cada uno:</p> <br>

        {% for x in Exportaciones %}  <!-- BOLUDOOOOO -- uso la CLAVE, no el valor, del diccionario que armé en la vista buscarAseg -->
        <br>
        
        <li>  {{ x }} <br></li> <!-- li muestra los elementos como una lista-->

            <button>

                <a href="{% url 'EliminarExportaciones' x.paisDestino %}"> Eliminar registro</a>
            </button>

            <button>
                
                <a href="{% url 'EditarExportaciones' x.paisDestino %}"> Editar registro</a>

            </button>

            


        {% endfor %}
        <br>
        <br>
        <a href="formularioExportaciones"> Agregar nuevo destino (+) </a>

    {%endblock%}