{% extends 'AppURC/base.html' %}

{% block titlePage %} 

Coberturas


{% endblock titlePage %}



{% load static %}



{% block contenido2 %}
    
    <h1 class="mb-1">Bienvenidos a URC</h1>

    <h2>Asesores expertos en coberturas de exportacion</h2>

{% endblock %}




{% block contenido %}

    {% if Coberturas %}
            <thead>
                <tr>
                    <th>tipo</th>
                    <th>numeroPoliza</th>
                    <th>fechaContratacion</th>
                    <th>fechaVigencia</th>
                    <th>detalle</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for c in Coberturas%}
                <tr>
                    <!--
                    <td>{{Coberturas.Tipo}}</td>
                    <td>{{Coberturas.numeroPoliza}}</td>
                    <td>{{Coberturas.fechaContratacion}}</td>
                    <td>{{Coberturas.fechaVigencia}</td>
                    <td>{{Coberturas.detalle}}</td>
                    -->
                    <li>{{ c }} <br></li>
                    
                </tr>
                {% endfor %}
            </tbody>
        
    {% else %}
        <h2>No hay coberturas registradas</h2>
        
    {% endif %}
    <br>
    <br>
    <button>
    <a href= "{% url 'FormularioCoberturas' %}"> Agregar nueva cobertura (+) </a>
    </button>
    <br>
    <br>
    <button>
    <a href="{% url 'Home' %}"> Cancelar - Volver al inicio</a>
    </button>
{% endblock %}