{% extends 'AppURC/base.html' %}

{% block titlePage %} 

Exportaciones


{% endblock titlePage %}

{% load static %}



    {% block contenido2 %}
        
        <h1 class="mb-1">Exportaciones Registradas </h1>

        
    {% endblock %}




    {% block contenido %}

        <div class="container mt-3">
            <h2>Registro de exportaciones de {{ user.get_username}}</h2>
            <p>Resumen de Países y Cantidad de Clientes por destino</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Destino de Exportacion</th>
                        <th>Cantidad de clientes en País de destino</th>
                    </tr>
                </thead>
                <tbody>
                    {% for exportacion in Exportaciones %}  <!-- BOLUDOOOOO -- uso la CLAVE, no el valor, del diccionario que armé en la vista buscarAseg -->
                    <br>
                    
                        <!--<li>  {{ exportacion }} <br></li> -- li muestra los elementos como una lista-->
                            <tr>
                                <td>{{ exportacion.paisDestino }} 

                                </td>
                                <td>{{ exportacion.clientes }}</td>
                                <td>
                                    <button>

                                        <a href="{% url 'EliminarExportaciones' exportacion.paisDestino %}"> Eliminar registro</a>
                                    </button>
                                    <button>
                            
                                        <a href="{% url 'EditarExportaciones' exportacion.paisDestino %}"> Editar registro</a>
            
                                    </button>
                                </td>

                            </tr>       
                        <!--
                        <button>

                            <a href="{% url 'EliminarExportaciones' exportacion.paisDestino %}"> Eliminar registro</a>
                        </button>

                        <button>
                            
                            <a href="{% url 'EditarExportaciones' exportacion.paisDestino %}"> Editar registro</a>

                        </button>
                        -->
                    {% endfor %}
                </tbody>
            </table>
        <br>
        <br>
        <a href="formularioExportaciones"> Agregar nuevo destino (+) </a>

    {%endblock%}