{% extends 'AppURC/base.html' %}

{% block titlePage %} 

Coberturas 


{% endblock titlePage %}

{% load static %}



    {% block contenido2 %}
        
        <h1 class="mb-1">Registro de Coberturas </h1>

        
    {% endblock %}




    {% block contenido %}

        <br><p>A continuación vas a poder ver el listado de coberturas y sus principales datos:</p> <br>
        {% for x in Coberturas %}  
        <br>
        
            <li>  {{ x }} <br> </li> <!-- li muestra los elementos como una lista-->
            <!--
            <button>

                <a href="{% url 'EliminarExportaciones' x.paisDestino %}"> Eliminar registro</a>
            </button>

            <button>
                
                <a href="{% url 'EditarExportaciones' x.paisDestino %}"> Editar registro</a>

            </button>
            -->
        {% endfor %}
        <br>
        <br>
            <a href="formularioCoberturas"> Tomar una nueva Cobertura (+) </a>

    {%endblock%}